@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #525f5f 0%, #7a597a 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2x 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.title {
  background-color: #eee;
  padding: 20px;
}

.form {
  padding: 20px;
}

.formControl {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.formControl label {
  display: inline-block;
  margin-bottom: 5px;
}

.formControl input {
  border: 2px solid grey;
  /* #f0f0f0; */
  display: block;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}

.formControl i {
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 10px;
  visibility: hidden;
}

.formControl small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background: #fc00ff;
  border: 2px solid #fc00ff;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.formControl img {
  height: 1em;
}

/* Error and Success */
/* .formControl.success input {
  border-color: #2ecc71;
}

.formControl.error input {
  border-color: #e74c3c;
}

.formControl.success i.fa-circle-check {
  color: #2ecc71;
  visibility: none;
}

.formControl.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: none;
}

.formControl.error small {
  visibility: none;
  color: #e74c3c;
} */
